TELEGRAM_APPSTORE_ID = @686449807
TELEGRAPH_SHARE_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).Share
TELEGRAPH_WATCHAPP_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).watchkitapp
TELEGRAPH_WATCHEXT_BUNDLE_ID=$(TELEGRAPH_WATCHAPP_BUNDLE_ID).watchkitextension
TELEGRAPH_WIDGET_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).Widget
TELEGRAPH_INTENTS_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).SiriIntents

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TELEGRAM_APP_NAME='$(TELEGRAM_APP_NAME)' TELEGRAM_APPSTORE_ID='$(TELEGRAM_APPSTORE_ID)' TG_PUBLIC_BUILD=1 NS_BLOCK_ASSERTIONS=1


// Public build privacy: no debug source paths in the app binary.
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
DEBUG_INFORMATION_FORMAT = dwarf
GCC_SYMBOLS_PRIVATE_EXTERN = YES
